{
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint-config-alloy/react", "eslint-config-alloy/typescript"],
  "rules": {
      "indent": [
            "error",
            2,
            {
                "SwitchCase": 1,
                "flatTernaryExpressions": true
            }
        ],
        "@typescript-eslint/indent": [
          "error",
          2,
          {
              "SwitchCase": 1,
              "flatTernaryExpressions": true
          }
        ],
        "react/jsx-indent": [
          "error",
            2,
            {
                "SwitchCase": 1,
                "flatTernaryExpressions": true
            }
        ],
        "react/jsx-indent-props": [
          "error",
            2,
            {
                "SwitchCase": 1,
                "flatTernaryExpressions": true
            }
        ],
    "@typescript-eslint/explicit-member-accessibility": "off"
  }
}
